
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="elementor-element elementor-element-4fda32bd pr__section elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="4fda32bd" data-element_type="section" id="pr_about">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-2e36131b elementor-column elementor-col-100 elementor-top-column" data-id="2e36131b" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <section class="elementor-element elementor-element-4dd30049 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="4dd30049" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-4da50246 elementor-column elementor-col-50 elementor-inner-column" data-id="4da50246" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-4a934e81 elementor-widget elementor-widget-divider" data-id="4a934e81" data-element_type="widget" data-widget_type="divider.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-divider">
                                                            <span class="elementor-divider-separator"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-ef292f6 elementor-widget elementor-widget-heading" data-id="ef292f6" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h2 class="elementor-heading-title elementor-size-default">About.</h2>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-7b97e8af elementor-widget elementor-widget-heading" data-id="7b97e8af" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h4 class="elementor-heading-title elementor-size-default">WE'RE MORE THAN A DIGITAL AGENCY</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-ff62ce7 elementor-column elementor-col-50 elementor-inner-column" data-id="ff62ce7" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-5638fc68 elementor-widget elementor-widget-heading" data-id="5638fc68" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <p class="elementor-heading-title elementor-size-default">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore corrupti temporibus fuga earum asperiores, alias excepturi sit. Impedit, fugit laudantium.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="elementor-element elementor-element-6e69c723 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="6e69c723" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-647bb4a6 elementor-column elementor-col-50 elementor-top-column" data-id="647bb4a6" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-background-overlay"></div>
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-55f8ca4b pr-infobox-content-align-left elementor-widget elementor-widget-pr-infobox" data-id="55f8ca4b" data-element_type="widget" data-widget_type="pr-infobox.default">
                            <div class="elementor-widget-container">
                                <a href="#">
                                    <div class="pr-infobox">
                                        <div class="infobox-content">
                                            <h4 class="title">Teamwork</h4>
                                            <p>Committed and creative</p>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-7fb11829 elementor-column elementor-col-50 elementor-top-column" data-id="7fb11829" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <section class="elementor-element elementor-element-219c200e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="219c200e" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-12bec763 elementor-column elementor-col-100 elementor-inner-column" data-id="12bec763" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-background-overlay"></div>
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-7a500139 pr-infobox-content-align-left elementor-widget elementor-widget-pr-infobox" data-id="7a500139" data-element_type="widget" data-widget_type="pr-infobox.default">
                                                    <div class="elementor-widget-container">
                                                        <a href="#">
                                                            <div class="pr-infobox">
                                                                <div class="infobox-content">
                                                                    <h4 class="title">Philosophy</h4>
                                                                    <p>Trust pays off</p>

                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-element elementor-element-374f47a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="374f47a" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-3d10ddc7 elementor-column elementor-col-100 elementor-inner-column" data-id="3d10ddc7" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-background-overlay"></div>
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-4bb327aa pr-infobox-content-align-left elementor-widget elementor-widget-pr-infobox" data-id="4bb327aa" data-element_type="widget" data-widget_type="pr-infobox.default">
                                                    <div class="elementor-widget-container">
                                                        <a href="#">
                                                            <div class="pr-infobox">
                                                                <div class="infobox-content">
                                                                    <h4 class="title">Office</h4>
                                                                    <p>Berlin, UK</p>

                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="elementor-element elementor-element-68e30235 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="68e30235" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-70ffb29c elementor-column elementor-col-33 elementor-top-column" data-id="70ffb29c" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-4c53b7e5 elementor-widget elementor-widget-heading" data-id="4c53b7e5" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Who we are</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-2e38d4c9 elementor-widget elementor-widget-heading" data-id="2e38d4c9" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward will have multiple touchpoints for offshoring.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-148e1ee0 elementor-column elementor-col-33 elementor-top-column" data-id="148e1ee0" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-66fbcf10 elementor-widget elementor-widget-heading" data-id="66fbcf10" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">
                                    Our philosophy
                                </h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-1b2d7ab6 elementor-widget elementor-widget-heading" data-id="1b2d7ab6" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">A new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-3416fdf5 elementor-column elementor-col-33 elementor-top-column" data-id="3416fdf5" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-7c4b49b2 elementor-widget elementor-widget-heading" data-id="7c4b49b2" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">How we work</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-5341122c elementor-widget elementor-widget-heading" data-id="5341122c" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>