
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="elementor-element elementor-element-74b6c2bc pr__section elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="74b6c2bc" data-element_type="section" id="pr_blog">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-68080a61 elementor-column elementor-col-100 elementor-top-column" data-id="68080a61" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-1c54e2b7 elementor-widget elementor-widget-heading" data-id="1c54e2b7" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Latest News.</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-37a5e4f5 elementor-widget elementor-widget-heading" data-id="37a5e4f5" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h4 class="elementor-heading-title elementor-size-default">CHECK OUT SOME OF OUR THINKING</h4>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-415015b0 elementor-widget elementor-widget-pr-postcarousel" data-id="415015b0" data-element_type="widget" data-widget_type="pr-postcarousel.default">
                            <div class="elementor-widget-container">

                                <div id="pr-post-carousel-415015b0" class="pr-post-carousel">
                                    <div class="swiper-container blog-listing style-one blog-slider swiper-container-horizontal swiper-container-autoheight" data-settings="{&quot;pr_blog_carousel_max_items&quot;:3,&quot;pr_blog_carousel_tab_items&quot;:2,&quot;pr_blog_carousel_mobile_items&quot;:1,&quot;pr_blog_carousel_gap&quot;:30,&quot;pr_blog_carousel_tab_gap&quot;:15,&quot;pr_blog_carousel_mobile_gap&quot;:0,&quot;pr_blog_carousel_speed&quot;:600,&quot;pr_blog_carousel_autoplay&quot;:&quot;&quot;,&quot;pr_blog_carousel_autoplay_speed&quot;:500,&quot;pr_blog_carousel_pause_hover&quot;:&quot;true&quot;,&quot;pr_blog_carousel_center_mode&quot;:&quot;&quot;,&quot;pr_blog_carousel_infinite&quot;:&quot;no&quot;,&quot;pr_blog_carousel_grab&quot;:&quot;no&quot;}" style="cursor: grab;">
                                        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-1379px, 0px, 0px); height: 430px;">
                                            <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="width: 429.667px; margin-right: 30px;">
                                                <article class="post type-post">
                                                    <div class="outer">
                                                        <div class="featured-image">
                                                            <div class="image pr__image__cover" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/04-min.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/04-min.jpg&quot;);"></div>
                                                        </div>
                                                        <div class="inner">
                                                            <div class="category"><a href="http://gentium.pixerex.com/wp/blog/category/marketing/" rel="tag">Marketing</a></div>
                                                            <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/choose-from-meeting-speak-client-feedback/">Choose from meeting speak, client feedback</a></h3>
                                                            <a href="http://gentium.pixerex.com/wp/blog/choose-from-meeting-speak-client-feedback/" class="more icon icon-arrow-right"></a>
                                                            <a href="http://gentium.pixerex.com/wp/blog/choose-from-meeting-speak-client-feedback/" class="link"></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4" style="width: 429.667px; margin-right: 30px;">
                                                <article class="post type-post">
                                                    <div class="outer">
                                                        <div class="featured-image">
                                                            <div class="image pr__image__cover" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/06-min.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/06-min.jpg&quot;);"></div>
                                                        </div>
                                                        <div class="inner">
                                                            <div class="category"><a href="http://gentium.pixerex.com/wp/blog/category/design/" rel="tag">Design</a> / <a href="http://gentium.pixerex.com/wp/blog/category/ux/" rel="tag">UX</a></div>
                                                            <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/how-to-make-your-product-stand-out/">How to make your product stand out</a></h3>
                                                            <a href="http://gentium.pixerex.com/wp/blog/how-to-make-your-product-stand-out/" class="more icon icon-arrow-right"></a>
                                                            <a href="http://gentium.pixerex.com/wp/blog/how-to-make-your-product-stand-out/" class="link"></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="5" style="width: 429.667px; margin-right: 30px;">
                                                <article class="post type-post">
                                                    <div class="outer">
                                                        <div class="featured-image">
                                                            <div class="image pr__image__cover" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/02-min.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/02-min.jpg&quot;);"></div>
                                                        </div>
                                                        <div class="inner">
                                                            <div class="category"><a href="http://gentium.pixerex.com/wp/blog/category/careers/" rel="tag">careers</a> / <a href="http://gentium.pixerex.com/wp/blog/category/marketing/" rel="tag">Marketing</a></div>
                                                            <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/how-to-become-a-best-sale-marketer-in-a-year/">How to become a best sale marketer in a year</a></h3>
                                                            <a href="http://gentium.pixerex.com/wp/blog/how-to-become-a-best-sale-marketer-in-a-year/" class="more icon icon-arrow-right"></a>
                                                            <a href="http://gentium.pixerex.com/wp/blog/how-to-become-a-best-sale-marketer-in-a-year/" class="link"></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 429.667px; margin-right: 30px;">
                                                <article class="post type-post">
                                                    <div class="outer">
                                                        <div class="featured-image">
                                                            <div class="image pr__image__cover" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/01-min.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/01-min.jpg&quot;);"></div>
                                                        </div>
                                                        <div class="inner">
                                                            <div class="category"><a href="http://gentium.pixerex.com/wp/blog/category/careers/" rel="tag">careers</a></div>
                                                            <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/winning-tactics-for-a-new-digital-agency/">Winning tactics for a new digital agency</a></h3>
                                                            <a href="http://gentium.pixerex.com/wp/blog/winning-tactics-for-a-new-digital-agency/" class="more icon icon-arrow-right"></a>
                                                            <a href="http://gentium.pixerex.com/wp/blog/winning-tactics-for-a-new-digital-agency/" class="link"></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="width: 429.667px; margin-right: 30px;">
                                                <article class="post type-post">
                                                    <div class="outer">
                                                        <div class="featured-image">
                                                            <div class="image pr__image__cover" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/03-min.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/03-min.jpg&quot;);"></div>
                                                        </div>
                                                        <div class="inner">
                                                            <div class="category"><a href="http://gentium.pixerex.com/wp/blog/category/design/" rel="tag">Design</a> / <a href="http://gentium.pixerex.com/wp/blog/category/ux/" rel="tag">UX</a></div>
                                                            <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/how-to-drive-your-customer-experience/">How to drive your customer experience</a></h3>
                                                            <a href="http://gentium.pixerex.com/wp/blog/how-to-drive-your-customer-experience/" class="more icon icon-arrow-right"></a>
                                                            <a href="http://gentium.pixerex.com/wp/blog/how-to-drive-your-customer-experience/" class="link"></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="swiper-slide" data-swiper-slide-index="2" style="width: 429.667px; margin-right: 30px;">
                                                <article class="post type-post">
                                                    <div class="outer">
                                                        <div class="featured-image">
                                                            <div class="image pr__image__cover" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/05-min.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/05-min.jpg&quot;);"></div>
                                                        </div>
                                                        <div class="inner">
                                                            <div class="category"><a href="http://gentium.pixerex.com/wp/blog/category/careers/" rel="tag">careers</a></div>
                                                            <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/how-to-be-more-productive-usgin-sticky-notes/">How to be more productive usgin sticky notes</a></h3>
                                                            <a href="http://gentium.pixerex.com/wp/blog/how-to-be-more-productive-usgin-sticky-notes/" class="more icon icon-arrow-right"></a>
                                                            <a href="http://gentium.pixerex.com/wp/blog/how-to-be-more-productive-usgin-sticky-notes/" class="link"></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="swiper-slide" data-swiper-slide-index="3" style="width: 429.667px; margin-right: 30px;">
                                                <article class="post type-post">
                                                    <div class="outer">
                                                        <div class="featured-image">
                                                            <div class="image pr__image__cover" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/04-min.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/04-min.jpg&quot;);"></div>
                                                        </div>
                                                        <div class="inner">
                                                            <div class="category"><a href="http://gentium.pixerex.com/wp/blog/category/marketing/" rel="tag">Marketing</a></div>
                                                            <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/choose-from-meeting-speak-client-feedback/">Choose from meeting speak, client feedback</a></h3>
                                                            <a href="http://gentium.pixerex.com/wp/blog/choose-from-meeting-speak-client-feedback/" class="more icon icon-arrow-right"></a>
                                                            <a href="http://gentium.pixerex.com/wp/blog/choose-from-meeting-speak-client-feedback/" class="link"></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="swiper-slide" data-swiper-slide-index="4" style="width: 429.667px; margin-right: 30px;">
                                                <article class="post type-post">
                                                    <div class="outer">
                                                        <div class="featured-image">
                                                            <div class="image pr__image__cover" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/06-min.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/06-min.jpg&quot;);"></div>
                                                        </div>
                                                        <div class="inner">
                                                            <div class="category"><a href="http://gentium.pixerex.com/wp/blog/category/design/" rel="tag">Design</a> / <a href="http://gentium.pixerex.com/wp/blog/category/ux/" rel="tag">UX</a></div>
                                                            <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/how-to-make-your-product-stand-out/">How to make your product stand out</a></h3>
                                                            <a href="http://gentium.pixerex.com/wp/blog/how-to-make-your-product-stand-out/" class="more icon icon-arrow-right"></a>
                                                            <a href="http://gentium.pixerex.com/wp/blog/how-to-make-your-product-stand-out/" class="link"></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="5" style="width: 429.667px; margin-right: 30px;">
                                                <article class="post type-post">
                                                    <div class="outer">
                                                        <div class="featured-image">
                                                            <div class="image pr__image__cover" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/02-min.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/02-min.jpg&quot;);"></div>
                                                        </div>
                                                        <div class="inner">
                                                            <div class="category"><a href="http://gentium.pixerex.com/wp/blog/category/careers/" rel="tag">careers</a> / <a href="http://gentium.pixerex.com/wp/blog/category/marketing/" rel="tag">Marketing</a></div>
                                                            <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/how-to-become-a-best-sale-marketer-in-a-year/">How to become a best sale marketer in a year</a></h3>
                                                            <a href="http://gentium.pixerex.com/wp/blog/how-to-become-a-best-sale-marketer-in-a-year/" class="more icon icon-arrow-right"></a>
                                                            <a href="http://gentium.pixerex.com/wp/blog/how-to-become-a-best-sale-marketer-in-a-year/" class="link"></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 429.667px; margin-right: 30px;">
                                                <article class="post type-post">
                                                    <div class="outer">
                                                        <div class="featured-image">
                                                            <div class="image pr__image__cover" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/01-min.jpg" data-uk-img=""></div>
                                                        </div>
                                                        <div class="inner">
                                                            <div class="category"><a href="http://gentium.pixerex.com/wp/blog/category/careers/" rel="tag">careers</a></div>
                                                            <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/winning-tactics-for-a-new-digital-agency/">Winning tactics for a new digital agency</a></h3>
                                                            <a href="http://gentium.pixerex.com/wp/blog/winning-tactics-for-a-new-digital-agency/" class="more icon icon-arrow-right"></a>
                                                            <a href="http://gentium.pixerex.com/wp/blog/winning-tactics-for-a-new-digital-agency/" class="link"></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 429.667px; margin-right: 30px;">
                                                <article class="post type-post">
                                                    <div class="outer">
                                                        <div class="featured-image">
                                                            <div class="image pr__image__cover" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/03-min.jpg" data-uk-img=""></div>
                                                        </div>
                                                        <div class="inner">
                                                            <div class="category"><a href="http://gentium.pixerex.com/wp/blog/category/design/" rel="tag">Design</a> / <a href="http://gentium.pixerex.com/wp/blog/category/ux/" rel="tag">UX</a></div>
                                                            <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/how-to-drive-your-customer-experience/">How to drive your customer experience</a></h3>
                                                            <a href="http://gentium.pixerex.com/wp/blog/how-to-drive-your-customer-experience/" class="more icon icon-arrow-right"></a>
                                                            <a href="http://gentium.pixerex.com/wp/blog/how-to-drive-your-customer-experience/" class="link"></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="width: 429.667px; margin-right: 30px;">
                                                <article class="post type-post">
                                                    <div class="outer">
                                                        <div class="featured-image">
                                                            <div class="image pr__image__cover" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/05-min.jpg" data-uk-img=""></div>
                                                        </div>
                                                        <div class="inner">
                                                            <div class="category"><a href="http://gentium.pixerex.com/wp/blog/category/careers/" rel="tag">careers</a></div>
                                                            <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/how-to-be-more-productive-usgin-sticky-notes/">How to be more productive usgin sticky notes</a></h3>
                                                            <a href="http://gentium.pixerex.com/wp/blog/how-to-be-more-productive-usgin-sticky-notes/" class="more icon icon-arrow-right"></a>
                                                            <a href="http://gentium.pixerex.com/wp/blog/how-to-be-more-productive-usgin-sticky-notes/" class="link"></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 6"></span></div>
                                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

