
@{
    ViewBag.Title = "Client";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="elementor-element elementor-element-3b3840fc pr__section elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="3b3840fc" data-element_type="section" id="pr_client">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-469c992a elementor-column elementor-col-50 elementor-top-column" data-id="469c992a" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-27d69e82 r2__shape elementor-widget elementor-widget-spacer" data-id="27d69e82" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-4eee5346 elementor-column elementor-col-50 elementor-top-column" data-id="4eee5346" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-337650b7 elementor-widget elementor-widget-divider" data-id="337650b7" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator"></span>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-36c93178 elementor-widget elementor-widget-heading" data-id="36c93178" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">
                                    What Clients Say.
                                </h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-423481d9 elementor-widget elementor-widget-heading" data-id="423481d9" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h4 class="elementor-heading-title elementor-size-default">WE'RE MORE THAN A DIGITAL AGENCY</h4>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-11b52fd elementor-widget elementor-widget-heading" data-id="11b52fd" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">We are motivated by the satisfaction of our clients. Put your trust in us and share in our growth Asset Management is made up of a team of expert, committed and experienced people with a passion for financial markets. Our goal is to achieve continuous and sustainable growth of our clients.</p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-d022de1 elementor-widget elementor-widget-divider" data-id="d022de1" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator"></span>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-522aaec0 elementor-widget elementor-widget-heading" data-id="522aaec0" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h6 class="elementor-heading-title elementor-size-default">ARON SMITH, UX DESIGNER</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="elementor-element elementor-element-5b0c5f5b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="5b0c5f5b" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-11c3b8b5 elementor-column elementor-col-100 elementor-top-column" data-id="11c3b8b5" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <section class="elementor-element elementor-element-3b424e4d elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="3b424e4d" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-5af47886 elementor-column elementor-col-16 elementor-inner-column" data-id="5af47886" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-19ae7bd9 elementor-widget elementor-widget-image" data-id="19ae7bd9" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <img width="129" height="28" src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/01.png" class="attachment-large size-large" alt="" srcset="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/01.png 129w, http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/01-20x4.png 20w" sizes="(max-width: 129px) 100vw, 129px">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-7f70f5cb elementor-column elementor-col-16 elementor-inner-column" data-id="7f70f5cb" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-3c6f0c4d elementor-widget elementor-widget-image" data-id="3c6f0c4d" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <img width="116" height="28" src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/02.png" class="attachment-large size-large" alt="" srcset="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/02.png 116w, http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/02-20x5.png 20w" sizes="(max-width: 116px) 100vw, 116px">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-5ddf9017 elementor-column elementor-col-16 elementor-inner-column" data-id="5ddf9017" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-9d98510 elementor-widget elementor-widget-image" data-id="9d98510" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <img width="119" height="32" src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/03.png" class="attachment-large size-large" alt="" srcset="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/03.png 119w, http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/03-20x5.png 20w" sizes="(max-width: 119px) 100vw, 119px">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-49fa0586 elementor-column elementor-col-16 elementor-inner-column" data-id="49fa0586" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-363b6cb2 elementor-widget elementor-widget-image" data-id="363b6cb2" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <img width="123" height="21" src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/04.png" class="attachment-large size-large" alt="" srcset="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/04.png 123w, http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/04-20x3.png 20w" sizes="(max-width: 123px) 100vw, 123px">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-a02e46a elementor-column elementor-col-16 elementor-inner-column" data-id="a02e46a" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-15791007 elementor-widget elementor-widget-image" data-id="15791007" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <img width="127" height="15" src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/05.png" class="attachment-large size-large" alt="" srcset="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/05.png 127w, http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/05-20x2.png 20w" sizes="(max-width: 127px) 100vw, 127px">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-186c5909 elementor-column elementor-col-16 elementor-inner-column" data-id="186c5909" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-2d71c413 elementor-widget elementor-widget-image" data-id="2d71c413" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <img width="127" height="21" src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/06.png" class="attachment-large size-large" alt="" srcset="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/06.png 127w, http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/06-20x3.png 20w" sizes="(max-width: 127px) 100vw, 127px">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
