
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<section class="elementor-element elementor-element-6705eefe elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="6705eefe" data-element_type="section" id="pr_hero" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-706d2f8 elementor-column elementor-col-100 elementor-top-column" data-id="706d2f8" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <section class="elementor-element elementor-element-5e488ad9 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="5e488ad9" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-2b85c19e elementor-column elementor-col-50 elementor-inner-column" data-id="2b85c19e" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-ce962d3 elementor-widget elementor-widget-divider" data-id="ce962d3" data-element_type="widget" data-widget_type="divider.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-divider">
                                                            <span class="elementor-divider-separator"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-f45d6d2 elementor-widget elementor-widget-heading" data-id="f45d6d2" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h2 class="elementor-heading-title elementor-size-default">We're a digital agency.</h2>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-10b6ad40 elementor-widget elementor-widget-pr-button" data-id="10b6ad40" data-element_type="widget" data-widget_type="pr-button.default">
                                                    <div class="elementor-widget-container">

                                                        <div class="pr-button-container">
                                                            <a class="pr-button  pr-button-lg pr-button-style1-right" href="#">
                                                                <div class="pr-button-text-icon-wrapper"><span>Getting Started</span></div>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-7f7cbff elementor-column elementor-col-50 elementor-inner-column" data-id="7f7cbff" data-element_type="column">
                                        <div class="elementor-column-wrap">
                                            <div class="elementor-widget-wrap">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-element elementor-element-629aca0d elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="629aca0d" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-34a03316 elementor-column elementor-col-33 elementor-inner-column" data-id="34a03316" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-6a91c8a6 pr-infobox-content-align-left pr-infobox-icon-bg-shape-none pr-infobox-icon-hover-bg-shape-none elementor-widget elementor-widget-pr-infobox" data-id="6a91c8a6" data-element_type="widget" data-widget_type="pr-infobox.default">
                                                    <div class="elementor-widget-container">
                                                        <a href="#">
                                                            <div class="pr-infobox">
                                                                <div class="infobox-icon pr-icon-only">


                                                                    <div class="infobox-icon-wrap">
                                                                        <i class="icon icon-chart-bars"></i>
                                                                    </div>


                                                                </div>
                                                                <div class="infobox-content pr-icon-only">
                                                                    <h4 class="title">Future Vision.</h4>
                                                                    <div class="pr-infobox-hr-holder">
                                                                        <hr class="pr-infobox-hr">
                                                                    </div>
                                                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>

                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-26ed57f4 elementor-column elementor-col-33 elementor-inner-column" data-id="26ed57f4" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-6dac9dc pr-infobox-content-align-left pr-infobox-icon-bg-shape-none pr-infobox-icon-hover-bg-shape-none elementor-widget elementor-widget-pr-infobox" data-id="6dac9dc" data-element_type="widget" data-widget_type="pr-infobox.default">
                                                    <div class="elementor-widget-container">
                                                        <a href="#">
                                                            <div class="pr-infobox">
                                                                <div class="infobox-icon pr-icon-only">


                                                                    <div class="infobox-icon-wrap">
                                                                        <i class="icon icon-rocket"></i>
                                                                    </div>


                                                                </div>
                                                                <div class="infobox-content pr-icon-only">
                                                                    <h4 class="title">Product Design.</h4>
                                                                    <div class="pr-infobox-hr-holder">
                                                                        <hr class="pr-infobox-hr">
                                                                    </div>
                                                                    <p>There are many variations of passages of available, but the majority alteration in some form.</p>

                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-24b86905 elementor-column elementor-col-33 elementor-inner-column" data-id="24b86905" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-6d8c194b pr-infobox-content-align-left r__shape pr-infobox-icon-bg-shape-none pr-infobox-icon-hover-bg-shape-none elementor-widget elementor-widget-pr-infobox" data-id="6d8c194b" data-element_type="widget" data-widget_type="pr-infobox.default">
                                                    <div class="elementor-widget-container">
                                                        <a href="#">
                                                            <div class="pr-infobox">
                                                                <div class="infobox-icon pr-icon-only">


                                                                    <div class="infobox-icon-wrap">
                                                                        <i class="icon icon-pie-chart"></i>
                                                                    </div>


                                                                </div>
                                                                <div class="infobox-content pr-icon-only">
                                                                    <h4 class="title">Inovative Solutions.</h4>
                                                                    <div class="pr-infobox-hr-holder">
                                                                        <hr class="pr-infobox-hr">
                                                                    </div>
                                                                    <p>The generated Lorem Ipsum is therefore always free from repetition, injected humour.</p>

                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



