
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="elementor-element elementor-element-3d046dd pr__section elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="3d046dd" data-element_type="section" id="pr_services">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-ba0eb86 elementor-column elementor-col-100 elementor-top-column" data-id="ba0eb86" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <section class="elementor-element elementor-element-1d8503c elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="1d8503c" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-0f33bb6 elementor-column elementor-col-50 elementor-inner-column" data-id="0f33bb6" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-2923685 elementor-widget elementor-widget-divider" data-id="2923685" data-element_type="widget" data-widget_type="divider.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-divider">
                                                            <span class="elementor-divider-separator"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-21f2a7f elementor-widget elementor-widget-heading" data-id="21f2a7f" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h2 class="elementor-heading-title elementor-size-default">Services.</h2>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-c4adefd elementor-widget elementor-widget-heading" data-id="c4adefd" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h4 class="elementor-heading-title elementor-size-default">We work with you, Not for you</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-5dc3998 elementor-column elementor-col-50 elementor-inner-column" data-id="5dc3998" data-element_type="column">
                                        <div class="elementor-column-wrap">
                                            <div class="elementor-widget-wrap">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-element elementor-element-5c5d42b section__flex elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="5c5d42b" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-3b03b66 elementor-column elementor-col-11 elementor-inner-column" data-id="3b03b66" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-7bfa72d0 elementor-widget elementor-widget-pr-services" data-id="7bfa72d0" data-element_type="widget" data-widget_type="pr-services.default">
                                                    <div class="elementor-widget-container">
                                                        <div id="pr-service-box-7bfa72d0" class="pr-service-box-item">
                                                            <div class="pr-service-box-inner">
                                                                <div class="pr-service-box-icon-wrap">
                                                                    <i class="icon icon-strategy"></i>
                                                                </div>
                                                                <h5 class="title">Digitale strategy</h5>
                                                                <i class="icon icon-arrow-right"></i>
                                                                <a href="www.google.com" class="link uk-position-cover"></a>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-0d9477c elementor-column elementor-col-11 elementor-inner-column" data-id="0d9477c" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-1c81f4e0 elementor-widget elementor-widget-pr-services" data-id="1c81f4e0" data-element_type="widget" data-widget_type="pr-services.default">
                                                    <div class="elementor-widget-container">
                                                        <div id="pr-service-box-1c81f4e0" class="pr-service-box-item">
                                                            <div class="pr-service-box-inner">
                                                                <div class="pr-service-box-icon-wrap">
                                                                    <i class="icon icon-browser"></i>
                                                                </div>
                                                                <h5 class="title">UX Design</h5>
                                                                <i class="icon icon-arrow-right"></i>
                                                                <a href="#" class="link uk-position-cover"></a>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-dd1f7a4 elementor-column elementor-col-11 elementor-inner-column" data-id="dd1f7a4" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-5dfb95fe elementor-widget elementor-widget-pr-services" data-id="5dfb95fe" data-element_type="widget" data-widget_type="pr-services.default">
                                                    <div class="elementor-widget-container">
                                                        <div id="pr-service-box-5dfb95fe" class="pr-service-box-item">
                                                            <div class="pr-service-box-inner">
                                                                <div class="pr-service-box-icon-wrap">
                                                                    <i class="icon icon-presentation"></i>
                                                                </div>
                                                                <h5 class="title">Product Design</h5>
                                                                <i class="icon icon-arrow-right"></i>
                                                                <a href="#" class="link uk-position-cover"></a>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-7af3d22 elementor-column elementor-col-11 elementor-inner-column" data-id="7af3d22" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-311b3c5 elementor-widget elementor-widget-pr-services" data-id="311b3c5" data-element_type="widget" data-widget_type="pr-services.default">
                                                    <div class="elementor-widget-container">
                                                        <div id="pr-service-box-311b3c5" class="pr-service-box-item">
                                                            <div class="pr-service-box-inner">
                                                                <div class="pr-service-box-icon-wrap">
                                                                    <i class="icon icon-clipboard2"></i>
                                                                </div>
                                                                <h5 class="title">Content Strategy</h5>
                                                                <i class="icon icon-arrow-right"></i>
                                                                <a href="#" class="link uk-position-cover"></a>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-bdded06 elementor-column elementor-col-11 elementor-inner-column" data-id="bdded06" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-145e4437 elementor-widget elementor-widget-pr-services" data-id="145e4437" data-element_type="widget" data-widget_type="pr-services.default">
                                                    <div class="elementor-widget-container">
                                                        <div id="pr-service-box-145e4437" class="pr-service-box-item">
                                                            <div class="pr-service-box-inner">
                                                                <div class="pr-service-box-icon-wrap">
                                                                    <i class="icon icon-tools"></i>
                                                                </div>
                                                                <h5 class="title">Design &amp; Concept</h5>
                                                                <i class="icon icon-arrow-right"></i>
                                                                <a href="#" class="link uk-position-cover"></a>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-ead79d2 elementor-column elementor-col-11 elementor-inner-column" data-id="ead79d2" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-57fd16b2 elementor-widget elementor-widget-pr-services" data-id="57fd16b2" data-element_type="widget" data-widget_type="pr-services.default">
                                                    <div class="elementor-widget-container">
                                                        <div id="pr-service-box-57fd16b2" class="pr-service-box-item">
                                                            <div class="pr-service-box-inner">
                                                                <div class="pr-service-box-icon-wrap">
                                                                    <i class="icon icon-chat"></i>
                                                                </div>
                                                                <h5 class="title">Social Media</h5>
                                                                <i class="icon icon-arrow-right"></i>
                                                                <a href="#" class="link uk-position-cover"></a>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-936e45f elementor-column elementor-col-11 elementor-inner-column" data-id="936e45f" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-3645a18b elementor-widget elementor-widget-pr-services" data-id="3645a18b" data-element_type="widget" data-widget_type="pr-services.default">
                                                    <div class="elementor-widget-container">
                                                        <div id="pr-service-box-3645a18b" class="pr-service-box-item">
                                                            <div class="pr-service-box-inner">
                                                                <div class="pr-service-box-icon-wrap">
                                                                    <i class="icon icon-target"></i>
                                                                </div>
                                                                <h5 class="title">Media Planing</h5>
                                                                <i class="icon icon-arrow-right"></i>
                                                                <a href="#" class="link uk-position-cover"></a>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-7ef9587 elementor-column elementor-col-11 elementor-inner-column" data-id="7ef9587" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-3cc5fd18 elementor-widget elementor-widget-pr-services" data-id="3cc5fd18" data-element_type="widget" data-widget_type="pr-services.default">
                                                    <div class="elementor-widget-container">
                                                        <div id="pr-service-box-3cc5fd18" class="pr-service-box-item">
                                                            <div class="pr-service-box-inner">
                                                                <div class="pr-service-box-icon-wrap">
                                                                    <i class="icon icon-lightbulb"></i>
                                                                </div>
                                                                <h5 class="title">Brand Identity</h5>
                                                                <i class="icon icon-arrow-right"></i>
                                                                <a href="#" class="link uk-position-cover"></a>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-c3c5ad5 elementor-column elementor-col-11 elementor-inner-column" data-id="c3c5ad5" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-51632671 elementor-widget elementor-widget-pr-services" data-id="51632671" data-element_type="widget" data-widget_type="pr-services.default">
                                                    <div class="elementor-widget-container">
                                                        <div id="pr-service-box-51632671" class="pr-service-box-item">
                                                            <div class="pr-service-box-inner">
                                                                <div class="pr-service-box-icon-wrap">
                                                                    <i class="icon icon-search2"></i>
                                                                </div>
                                                                <h5 class="title">SEO Optimization</h5>
                                                                <i class="icon icon-arrow-right"></i>
                                                                <a href="#" class="link uk-position-cover"></a>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

