
@{
    ViewBag.Title = "Works";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<section class="elementor-element elementor-element-12859b34 pr__section elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="12859b34" data-element_type="section" id="pr_works">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-54958c56 elementor-column elementor-col-100 elementor-top-column" data-id="54958c56" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <section class="elementor-element elementor-element-154f7aa2 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="154f7aa2" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-1aa8172a elementor-column elementor-col-50 elementor-inner-column" data-id="1aa8172a" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-48dec36b elementor-widget elementor-widget-divider" data-id="48dec36b" data-element_type="widget" data-widget_type="divider.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-divider">
                                                            <span class="elementor-divider-separator"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-2e87bca0 elementor-widget elementor-widget-heading" data-id="2e87bca0" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h2 class="elementor-heading-title elementor-size-default">Works.</h2>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-295eb79 elementor-widget elementor-widget-heading" data-id="295eb79" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h4 class="elementor-heading-title elementor-size-default">THINGS WE'VE MADE</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-238e6c44 elementor-column elementor-col-50 elementor-inner-column" data-id="238e6c44" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-6cf4a5ec elementor-widget elementor-widget-pr-button" data-id="6cf4a5ec" data-element_type="widget" data-widget_type="pr-button.default">
                                                    <div class="elementor-widget-container">

                                                        <div class="pr-button-container">
                                                            <a class="pr-button  pr-button-lg pr-button-style1-right" href="#">
                                                                <div class="pr-button-text-icon-wrapper"><span>View All</span></div>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-element elementor-element-6c97b883 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="6c97b883" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-1f88df15 elementor-column elementor-col-100 elementor-inner-column" data-id="1f88df15" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-38139776 elementor-widget elementor-widget-pr-postcarousel" data-id="38139776" data-element_type="widget" data-widget_type="pr-postcarousel.default">
                                                    <div class="elementor-widget-container">

                                                        <div id="pr-post-carousel-38139776" class="pr-post-carousel">
                                                            <div class="swiper-container blog-listing style-four blog-slider swiper-container-horizontal swiper-container-autoheight" data-settings="{&quot;pr_blog_carousel_max_items&quot;:3,&quot;pr_blog_carousel_tab_items&quot;:2,&quot;pr_blog_carousel_mobile_items&quot;:1,&quot;pr_blog_carousel_gap&quot;:30,&quot;pr_blog_carousel_tab_gap&quot;:0,&quot;pr_blog_carousel_mobile_gap&quot;:0,&quot;pr_blog_carousel_speed&quot;:600,&quot;pr_blog_carousel_autoplay&quot;:&quot;&quot;,&quot;pr_blog_carousel_autoplay_speed&quot;:2000,&quot;pr_blog_carousel_pause_hover&quot;:&quot;true&quot;,&quot;pr_blog_carousel_center_mode&quot;:&quot;&quot;,&quot;pr_blog_carousel_infinite&quot;:&quot;yes&quot;,&quot;pr_blog_carousel_grab&quot;:&quot;yes&quot;}" style="cursor: grab;">
                                                                <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-1379px, 0px, 0px); height: 430px;">
                                                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="width: 429.667px; margin-right: 30px;">
                                                                        <article class="item work-box">
                                                                            <div class="outer">
                                                                                <div class="image pr__image__cover pr__ratio__square" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/05-min-1-1024x683.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/05-min-1-1024x683.jpg&quot;);"></div>
                                                                                <div class="inner">
                                                                                    <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/portfolio/electrica/">Electrica</a></h3>
                                                                                    <div class="category"><a href="http://gentium.pixerex.com/wp/blog/portfolio-category/app/" rel="tag">App</a></div>
                                                                                    <a href="http://gentium.pixerex.com/wp/blog/portfolio/electrica/" class="link uk-position-cover"></a>
                                                                                </div>
                                                                            </div>
                                                                        </article>
                                                                    </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4" style="width: 429.667px; margin-right: 30px;">
                                                                        <article class="item work-box">
                                                                            <div class="outer">
                                                                                <div class="image pr__image__cover pr__ratio__square" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/08-min-683x1024.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/08-min-683x1024.jpg&quot;);"></div>
                                                                                <div class="inner">
                                                                                    <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/portfolio/home-design/">Home Design</a></h3>
                                                                                    <div class="category"><a href="http://gentium.pixerex.com/wp/blog/portfolio-category/architecture/" rel="tag">Architecture</a> / <a href="http://gentium.pixerex.com/wp/blog/portfolio-category/design/" rel="tag">Design</a></div>
                                                                                    <a href="http://gentium.pixerex.com/wp/blog/portfolio/home-design/" class="link uk-position-cover"></a>
                                                                                </div>
                                                                            </div>
                                                                        </article>
                                                                    </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="5" style="width: 429.667px; margin-right: 30px;">
                                                                        <article class="item work-box">
                                                                            <div class="outer">
                                                                                <div class="image pr__image__cover pr__ratio__square" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/02-min-1-1024x683.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/02-min-1-1024x683.jpg&quot;);"></div>
                                                                                <div class="inner">
                                                                                    <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/portfolio/bikeer/">Bikeer</a></h3>
                                                                                    <div class="category"><a href="http://gentium.pixerex.com/wp/blog/portfolio-category/concept/" rel="tag">Concept</a> / <a href="http://gentium.pixerex.com/wp/blog/portfolio-category/design/" rel="tag">Design</a></div>
                                                                                    <a href="http://gentium.pixerex.com/wp/blog/portfolio/bikeer/" class="link uk-position-cover"></a>
                                                                                </div>
                                                                            </div>
                                                                        </article>
                                                                    </div>
                                                                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 429.667px; margin-right: 30px;">
                                                                        <article class="item work-box">
                                                                            <div class="outer">
                                                                                <div class="image pr__image__cover pr__ratio__square" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/03-min-1-1024x683.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/03-min-1-1024x683.jpg&quot;);"></div>
                                                                                <div class="inner">
                                                                                    <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/portfolio/product-design/">Product Design</a></h3>
                                                                                    <div class="category"><a href="http://gentium.pixerex.com/wp/blog/portfolio-category/design/" rel="tag">Design</a> / <a href="http://gentium.pixerex.com/wp/blog/portfolio-category/marketing/" rel="tag">Marketing</a></div>
                                                                                    <a href="http://gentium.pixerex.com/wp/blog/portfolio/product-design/" class="link uk-position-cover"></a>
                                                                                </div>
                                                                            </div>
                                                                        </article>
                                                                    </div>
                                                                    <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="width: 429.667px; margin-right: 30px;">
                                                                        <article class="item work-box">
                                                                            <div class="outer">
                                                                                <div class="image pr__image__cover pr__ratio__square" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/04-min-1-1024x683.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/04-min-1-1024x683.jpg&quot;);"></div>
                                                                                <div class="inner">
                                                                                    <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/portfolio/woody/">Woody</a></h3>
                                                                                    <div class="category"><a href="http://gentium.pixerex.com/wp/blog/portfolio-category/architecture/" rel="tag">Architecture</a> / <a href="http://gentium.pixerex.com/wp/blog/portfolio-category/concept/" rel="tag">Concept</a></div>
                                                                                    <a href="http://gentium.pixerex.com/wp/blog/portfolio/woody/" class="link uk-position-cover"></a>
                                                                                </div>
                                                                            </div>
                                                                        </article>
                                                                    </div>
                                                                    <div class="swiper-slide" data-swiper-slide-index="2" style="width: 429.667px; margin-right: 30px;">
                                                                        <article class="item work-box">
                                                                            <div class="outer">
                                                                                <div class="image pr__image__cover pr__ratio__square" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/07-min-1024x683.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/07-min-1024x683.jpg&quot;);"></div>
                                                                                <div class="inner">
                                                                                    <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/portfolio/interior-design/">Interior Design</a></h3>
                                                                                    <div class="category"><a href="http://gentium.pixerex.com/wp/blog/portfolio-category/architecture/" rel="tag">Architecture</a> / <a href="http://gentium.pixerex.com/wp/blog/portfolio-category/design/" rel="tag">Design</a></div>
                                                                                    <a href="http://gentium.pixerex.com/wp/blog/portfolio/interior-design/" class="link uk-position-cover"></a>
                                                                                </div>
                                                                            </div>
                                                                        </article>
                                                                    </div>
                                                                    <div class="swiper-slide" data-swiper-slide-index="3" style="width: 429.667px; margin-right: 30px;">
                                                                        <article class="item work-box">
                                                                            <div class="outer">
                                                                                <div class="image pr__image__cover pr__ratio__square" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/05-min-1-1024x683.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/05-min-1-1024x683.jpg&quot;);"></div>
                                                                                <div class="inner">
                                                                                    <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/portfolio/electrica/">Electrica</a></h3>
                                                                                    <div class="category"><a href="http://gentium.pixerex.com/wp/blog/portfolio-category/app/" rel="tag">App</a></div>
                                                                                    <a href="http://gentium.pixerex.com/wp/blog/portfolio/electrica/" class="link uk-position-cover"></a>
                                                                                </div>
                                                                            </div>
                                                                        </article>
                                                                    </div>
                                                                    <div class="swiper-slide" data-swiper-slide-index="4" style="width: 429.667px; margin-right: 30px;">
                                                                        <article class="item work-box">
                                                                            <div class="outer">
                                                                                <div class="image pr__image__cover pr__ratio__square" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/08-min-683x1024.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/08-min-683x1024.jpg&quot;);"></div>
                                                                                <div class="inner">
                                                                                    <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/portfolio/home-design/">Home Design</a></h3>
                                                                                    <div class="category"><a href="http://gentium.pixerex.com/wp/blog/portfolio-category/architecture/" rel="tag">Architecture</a> / <a href="http://gentium.pixerex.com/wp/blog/portfolio-category/design/" rel="tag">Design</a></div>
                                                                                    <a href="http://gentium.pixerex.com/wp/blog/portfolio/home-design/" class="link uk-position-cover"></a>
                                                                                </div>
                                                                            </div>
                                                                        </article>
                                                                    </div>
                                                                    <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="5" style="width: 429.667px; margin-right: 30px;">
                                                                        <article class="item work-box">
                                                                            <div class="outer">
                                                                                <div class="image pr__image__cover pr__ratio__square" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/02-min-1-1024x683.jpg" data-uk-img="" style="background-image: url(&quot;http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/02-min-1-1024x683.jpg&quot;);"></div>
                                                                                <div class="inner">
                                                                                    <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/portfolio/bikeer/">Bikeer</a></h3>
                                                                                    <div class="category"><a href="http://gentium.pixerex.com/wp/blog/portfolio-category/concept/" rel="tag">Concept</a> / <a href="http://gentium.pixerex.com/wp/blog/portfolio-category/design/" rel="tag">Design</a></div>
                                                                                    <a href="http://gentium.pixerex.com/wp/blog/portfolio/bikeer/" class="link uk-position-cover"></a>
                                                                                </div>
                                                                            </div>
                                                                        </article>
                                                                    </div>
                                                                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 429.667px; margin-right: 30px;">
                                                                        <article class="item work-box">
                                                                            <div class="outer">
                                                                                <div class="image pr__image__cover pr__ratio__square" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/03-min-1-1024x683.jpg" data-uk-img=""></div>
                                                                                <div class="inner">
                                                                                    <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/portfolio/product-design/">Product Design</a></h3>
                                                                                    <div class="category"><a href="http://gentium.pixerex.com/wp/blog/portfolio-category/design/" rel="tag">Design</a> / <a href="http://gentium.pixerex.com/wp/blog/portfolio-category/marketing/" rel="tag">Marketing</a></div>
                                                                                    <a href="http://gentium.pixerex.com/wp/blog/portfolio/product-design/" class="link uk-position-cover"></a>
                                                                                </div>
                                                                            </div>
                                                                        </article>
                                                                    </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 429.667px; margin-right: 30px;">
                                                                        <article class="item work-box">
                                                                            <div class="outer">
                                                                                <div class="image pr__image__cover pr__ratio__square" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/04-min-1-1024x683.jpg" data-uk-img=""></div>
                                                                                <div class="inner">
                                                                                    <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/portfolio/woody/">Woody</a></h3>
                                                                                    <div class="category"><a href="http://gentium.pixerex.com/wp/blog/portfolio-category/architecture/" rel="tag">Architecture</a> / <a href="http://gentium.pixerex.com/wp/blog/portfolio-category/concept/" rel="tag">Concept</a></div>
                                                                                    <a href="http://gentium.pixerex.com/wp/blog/portfolio/woody/" class="link uk-position-cover"></a>
                                                                                </div>
                                                                            </div>
                                                                        </article>
                                                                    </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="width: 429.667px; margin-right: 30px;">
                                                                        <article class="item work-box">
                                                                            <div class="outer">
                                                                                <div class="image pr__image__cover pr__ratio__square" data-src="http://gentium.pixerex.com/wp/wp-content/uploads/2019/01/07-min-1024x683.jpg" data-uk-img=""></div>
                                                                                <div class="inner">
                                                                                    <h3 class="title"><a href="http://gentium.pixerex.com/wp/blog/portfolio/interior-design/">Interior Design</a></h3>
                                                                                    <div class="category"><a href="http://gentium.pixerex.com/wp/blog/portfolio-category/architecture/" rel="tag">Architecture</a> / <a href="http://gentium.pixerex.com/wp/blog/portfolio-category/design/" rel="tag">Design</a></div>
                                                                                    <a href="http://gentium.pixerex.com/wp/blog/portfolio/interior-design/" class="link uk-position-cover"></a>
                                                                                </div>
                                                                            </div>
                                                                        </article>
                                                                    </div>
                                                                </div>
                                                                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 6"></span></div>
                                                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
